<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>E-tickets error!</h1>
                <p>Airline page is temporarily unavailable!</p>
                <p>Try refreshing the page in a couple of minutes.</p>
                <p>Error: <?=$ping_response["response"]?></p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/" role="button">Refresh</a>
                </p>
            </div>
        </div>
    </body>
</html>
